@import './common/placeholders';
@import './common/variables';
@import './common/mixins';

* {
	/* TEST */
	/* COMMONET */
	background-image: linear-gradient(180deg, #000 0, #fff 100%);
	box-shadow: 0 0 4px 4px #aaa,
		0 0 4px 4px #aaa,
		0 0 4px 4px #aaa;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: #aaa;
}

.test {
	@extend %placeholder-name;
	@include mixinName;
	color: #ff5252;
	.wow__a {
		border: solid 1px #000;
		-webkit-border-radius: 4px;
		border-radius: 4px !important;
	}
	@media screen {
		.test {
			font-size: 0;
		}
	}
}
